h1, h2, h3{
  font-family: 'JetBrains-Bold';
}

.mainDiv{
  width: 100%;
  height: 100%;
  background-color: #E5E2EB;
}

.contentDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 75px);
}

/* Авторизация */
.authDiv{
  background-color: #FCF3F4;
  width: 100%;
  height: 100%;
  max-width: 650px;
  max-height: 754px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 25px 15px;
}

.authDiv h1{
  color: black;
}

.authTextDiv{
  width: 96%;
  height: 100%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
}

.authTextDiv h1{
  font-size: 40px;
}

.authTextDiv h2{
  font-size: 24px;
}

.authFormDiv h3{
  font-size: 24px;
}

.authFormDiv, .authFormInputDiv, .authFormConfirmDiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.authFormInputDiv{
  height:250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.authFormConfirmDiv{
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.authFormDiv input{
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 50px;
  border: none;
  border-radius: 15px;
  background-color: white;
}

.authFormDiv button{
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 65px;
  background-color: #4A5455;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: 'JetBrains-Bold';
  font-size: 32px;
}

/* Регистрация */
/* .registerFormInputDiv, .registerFormInputTwoDiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  max-height:400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
} */

/* Регистрация часть 2 */
/* .registerFormInputTwoDiv div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 580px;
  max-height: 50px;
}

.registerFormInputTwoDiv div button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 50px;
  min-width: 250px;
  min-height: 50px;
  font-size: 30px;
}

#worker{
  background-color: #5D506B;
}

#owner{
  background-color: #243C7C;
} */

/* Подтверждение почты */
/* .authDiv{
  max-height: 415px;
}

.authFormDiv input{
  width: 100%;
  height: 100%;
  max-width: 65px;
  max-height: 65px;
  border: none;
  border-radius: 15px;
  background-color: white;
}

.authFormInputDiv{
  height:250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-direction: row !important;
} */